<div class="content">
	<h3><a class="rss" href="http://feeds.feedburner.com/PhotoLog"></a> | <%= @title %></h3>
		<% @album[:photos].sort_by! { |photo| photo[:time] }.each_with_index do |photo, i|%>
		<article>
			<h5><a href="<%= 'https://plus.google.com/photos/'+ @name +'/albums/'+ url +'/'+photo[:id]%>"> <%= photo[:title] %> </a></h5>
			<a href="<%= PicasaAPI::url_for_dimension(photo[:src], "720") %>" rel="lightbox[blog]"><img src='<%= PicasaAPI::url_for_dimension(photo[:src], "600") %>' alt=" <%= photo[:title] %>"></a>
		</article>
	<% end %>

</div>
<div class="sidebar">
	<div class="social">
		<a class="twitter" href="http://twitter.com/lesa_ns"></a>
		<a class="gplus" href="https://plus.google.com/u/0/109490003681682232613"></a> 
		<a class="facebook" href="http://facebook.com/rastasheep"></a>
		<a class="email" href="mailto:rastasheep@gmail.com"></a>
		<a class="github" href="http://github.com/rastasheep"></a>
	</div>
	<h3><a class="rss" href="http://feeds.feedburner.com/PhotoLogNano"></a> | Nano blog:</h3>
	<p> <%= Twitter.search("from:lesa_ns #blog", :rpp => 20, :result_type => "recent").map! do |status|
  	"#{status.text}"
end %></p>
</div>

