<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <atom:link href="<%= @homeurl+'/rss'%>" rel="self" type="application/rss+xml" />
    <title>PhotoLog by Aleksadar Diklic</title>
    <link><%= @homeurl%></link>
    <description>Photo blog by Aleksadar Diklic, enjoy and share photos.</description>
    <category>Photography</category>
    <% @album[:photos].reverse.each_with_index do |photo, i|%>
      <item>
        <title><%= photo[:title] %></title>
        <link><%= @homeurl %></link>
        <description>
          <a href="<%= @homeurl %>"><img src='<%= PicasaAPI::url_for_dimension(photo[:src], "600") %>' alt="<%= photo[:title] %>"></img></a>
          Images provided here are Creative Commons,Attribution-NonCommercial 3.0 
          Thanks so much for your understanding and support!
        </description>
      </item>
    <% end %>
  </channel>
</rss>